body{
    background-color: black;
    text-align: center;
    
}
h1{
    color: aliceblue
}
.container{
align-items: center;
justify-content: center;
display: flex;
height: 500px;
}

button{
    
    width: 500px;
    height: 200px;
    border-radius: 10%;
    border-color: brown;
    font-size: 50px;
    box-shadow: 10px 10px 4px black;
    transition: all 1s;
    background-color: black;
    color: white;

  
}
button:hover{
    cursor: pointer;
    color: brown;
    transform: translateY(-10px);
    box-shadow: 0 0.5px 5px 10px pink ;


}
